body {
    /*
     * move away from navbar at the viewport top, i.e. prevent main
     * content being obscured by navbar. we can do this here even
     * though navbar is a child of body as navbar has a fixed
     * position, so adding padding here won't affect navbar
     */
    padding-top: 3rem;
    line-height: inherit;
    overflow-x: hidden;  /* hide scrollbar visible when loader fading out */
}
body.modal-open {
    /* prevent double scrollbar when modal is open */
    overflow-y: hidden;
}

/****************
 *    loader    *
 ****************/
body.loading {
    overflow: hidden;
}
body.loading .loader {
    opacity: 1;
    animation: none;
}
body.loading nav,
body.loading .container {
    display: none;
}
.loader {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 1031;
    background-color: #fff;
    animation: hide-loader .8s ease-in-out forwards;
    /*
     * don't prevent input events to obscured elements when hidden with
     * 'hide-loader'
     */
    overflow: hidden;
}

@keyframes hide-loader {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        width: 100vw; height: 100vh;
    }
    100% {
        width: 0; height: 0;
    }
}

.loader .message {
    margin: auto;
}
.loader .message h1 {
    /* absolute centering based on https://stackoverflow.com/a/25776315 */
    font-weight: bold;
    letter-spacing: -.05em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader .spinner-border {
    border-width: .5rem;
    width: 9rem;
    height: 9rem;
}

/***************
 *    utils    *
 ***************/
.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hidden {
    display: none !important;
}

/****************
 *    navbar    *
 ****************/
.navbar {
    height: 51px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    /* bypass Bootstrap adding padding when modal is open */
    padding-right: 1rem !important;
}
.navbar-brand {
    color: #fff !important;
    letter-spacing: -0.05em;
    font-weight: bold;
    padding: 0 1.2rem;
    background-color: #2e2e2e;
    height: 100%;
    display: flex !important;
    flex-shrink: 0;
    align-items: center;
}
.navbar-brand:hover {
    background-color: #3b3b3b;
}
#search-box {
    height: 33px;
}
#search-box input,
#search-box input:focus {
    border: unset;
    box-shadow: unset;
}
#search-box .spinner-border {
    border-width: .15em;
}
#search-box button {
    border: none !important;
}
#search-box {
    border-bottom: 1px solid #000;
}
#search-box:focus-within {
    box-shadow: 0 1px 0 0 #000;
}
#btn-login:hover {
    color: #fff !important;
    background-color: #2e2e2e !important;
}
.nav-item.avatar .dropdown-toggle:after {
    display: none;
}
.nav-item.avatar .dropdown-menu {
    max-width: 15rem;
}

/****************
 *    modals    *
 ****************/
/* login/register modal */
.alert,
.invalid-feedback {
    /* fix Bootstrap value being overridden */
    line-height: 1.5;
}
/* fix error not visible when input in input-group is invalid */
.was-validated .form-group .input-group.is-invalid~.invalid-feedback {
    display: block;
}

/* create/edit classified modal */
textarea {
    resize: none;
}
.dropzone {
    border: 1px solid #ced4da;
}
.dropzone.form-control {
    /*
     * fix bordered area being shorter than its content due to
     * Bootstrap's height: calc(...) rule
     */
    height: unset;
}
.dropzone.dz-drag-hover {
    background-color: #e5e8eb;
}
.dropzone .dz-preview .dz-error-message {
    color: #fff;
    background: unset;
    background-color: #ff3547;
    top: 170px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
                0 2px 10px 0 rgba(0,0,0,.12);
}

.dropzone .dz-preview .dz-error-message:after {
    border-bottom-color: #ff3547;
}

.dropzone .dz-preview.dz-file-preview .dz-image,
.dropzone .dz-preview .dz-image,
.dropzone .dz-preview .dz-error-message {
    border-radius: .25rem;
}
/*
 * remove Bootstrap's styling for valid forms - user should only be
 * bothered with fields that need to be corrected
 */
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    padding-right: .75rem;
    background: none;
}
.custom-select.is-valid, .was-validated .custom-select:valid {
    border-color: #ced4da;
    padding-right: 1.75rem;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus,
.custom-select.is-valid:focus, .was-validated .custom-select:valid:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* view classified modal */
.carousel-fade .carousel-item {
    /* fix fading to white between slides */
    display: block;
}
#mvc-images-carousel .carousel-indicators {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
}
#mvc-images-carousel .carousel-item {
    background-color: #fff;
    height: 250px;
    display: flex !important;
    align-items: center;
}
@media(min-width: 992px) {
    #mvc-images-carousel .carousel-item { height: 400px; }
}
#mvc-images-carousel .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: relative;
}
#mvc-images-carousel .carousel-item img:after {
    color: #bbb;
    font-family: 'FontAwesome';
    content: '\f1c5';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#mvc-images-carousel .carousel-control-prev,
#mvc-images-carousel .carousel-control-next {
    width: unset;
}

#mvc-images-carousel .carousel-control-prev div,
#mvc-images-carousel .carousel-control-next div {
    display: flex;
}

.modal-body {
    padding-bottom: 0;
}

.modal-body .loading {
    margin: 0 0 1rem 0;
}

.modal-body form {
    margin-bottom: 1rem;
}

.tab-pane {
    padding: 1rem 1rem 0 1rem;
}

/**********************
 *    main content    *
 **********************/
.has-text-query {
    display: flex;
    align-items: center;
    max-width: 100%;
}

#filter-clear {
    transition: all 0.2s linear;
}
#filter-clear.hidden {
    display: unset !important;
    width: 0;
    padding: 0 !important;
}

.grid-item {
    float: left;
}
.post .fill-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 400%;
    background-position: center;
    background-repeat: no-repeat;
    filter: saturate(1.5) blur(5px);
}
.post {
    cursor: pointer;
    overflow: hidden;
    background-color: #bbb;
}
.post .primary-image {
    z-index: 0;
    padding: .8rem;
    position: relative;
    text-align: center;
}
.post .card-img {
    width: unset;
    margin: auto;
    max-width: 100%;
}
.post .card-img:after {
    color: #969696;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'FontAwesome';
    content: '\f1c5';  /* .fa-file-photo-o */
    display: grid;
    align-items: center;
    background-color: #bbb;
}
.post .actions,
.post .card-body {
    background: rgba(255, 255, 255, 0.2);
}
.post .card-body {
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding: .7rem .8rem
}
.post .card-body p {
    background: #2e2e2e;
    padding: .5rem .6rem;
    max-width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    border-radius: .125rem
}
.post .card-body p:not(:last-child) {
    margin-bottom: -.4rem;
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    color: #2e2e2e;
}

.no-results i {
    background: #2e2e2e;
    color: #fff;
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    border-radius: 50%;
}

.no-results i:before {
    margin: auto;
}

.no-results p {
    color: #616161;
}

#fab-create-classified {
    width: 40px;
    height: 40px;
    margin: 0 16px 16px 0;
    pointer-events: all !important;
}

/************************
 *    admin fragment    *
 ************************/
/* source: https://stackoverflow.com/a/26983473 */
th.min {
    width: 1%;
    white-space: nowrap;
}

/***********************************
 *    account settings fragment    *
 ***********************************/
.form-group .input-group .input-group-append button.toggle {
    margin: 0;
    padding: .375rem .75rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #2e2e2e !important;
}
#account-settings-fragment h1:not(.mobile),
#account-settings-fragment button.save {
    display: none;
}
@media (min-width: 576px) {
    #account-settings-fragment h1:not(.mobile),
    #account-settings-fragment button.save {
        display: unset;
    }

    #account-settings-fragment .mobile {
        display: none;
    }
}
#toast-update-user-success {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 1055;
}