{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>V&auml;nd - it v&auml;nds!</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- FontAwesome, Bootstrap, MDBootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">

        <!-- Dropzone -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/basic.min.css" rel="stylesheet">

        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body class="loading">
        <div class="loader">
            <div class="message">
                <h1>vänd</h1><span class="spinner-border" role="status" aria-hidden="true"></span>
            </div>
        </div>

        <nav class="navbar navbar-light white navbar-expand-lg fixed-top flex-nowrap">
            <a class="navbar-brand waves-effect" href="#">v&auml;nd</a>

            <form class="form-inline d-flex flex-grow-1">
                <div class="md-form my-0 d-flex flex-grow-1">
                    <div id="search-box" class="d-flex align-items-center flex-grow-1">
                        <input class="form-control form-control-sm py-0 d-flex flex-grow-1 one-line" type="text" placeholder="Search" aria-label="Search">
                        <span class="spinner-border spinner-border-sm mr-2 flex-shrink-0 hidden" role="status" aria-hidden="true"></span>
                        <button type="button" class="btn btn-md m-0 p-2 z-depth-0"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>

            <!-- show this when not logged in -->
            <a class="btn btn-outline-elegant waves-effect z-depth-0 font-weight-bold m-0 ml-3 px-3 py-1 flex-shrink-0" id="btn-login">
                Log in
            </a>

            <!-- populate and show this after logging in -->
            <div class="nav-item avatar dropdown ml-3">
                <a class="nav-link p-0 waves-effect dropdown-toggle" id="collapse-user-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" height="35" class="rounded z-depth-0" alt="user avatar">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="collapse-user-actions">
                    <a class="dropdown-item font-weight-bold one-line user" href="#">@<span></span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item admin"><i class="fa grey-text fa-user fa-fw pr-2"></i>Administration</a>
                    <a class="dropdown-item settings" href="#"><i class="fa grey-text fa-cog fa-fw pr-2"></i>Account settings</a>
                    <a class="dropdown-item logout"><i class="fa grey-text fa-sign-out fa-fw pr-2"></i>Log out</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <!-- mustache templates -->
            <div class="templates">
                {% verbatim %}
                <script id="af-users-table-row" type="x-tmpl-mustache">
                    <tr data-id="{{ id }}">
                        <td>
                            <div class="btn-group flex-shrink-0" role="group" aria-label="User actions">
                                <button type="button" class="edit btn btn-sm btn-elegant waves-effect px-3">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="delete btn btn-sm btn-danger waves-effect px-3">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td>{{ username }}</td>
                        <td>{{ role }}</td>
                    </tr>
                </script>
                <script id="af-categories-table-row" type="x-tmpl-mustache">
                    <tr data-id="{{ id }}">
                        <td>
                            <div class="btn-group flex-shrink-0" role="group" aria-label="Category actions">
                                <button type="button" class="edit btn btn-sm btn-elegant waves-effect px-3">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="delete btn btn-sm btn-danger waves-effect px-3">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td>{{ title }}</td>
                    </tr>
                </script>
                <script id="af-counties-table-row" type="x-tmpl-mustache">
                    <tr data-id="{{ id }}">
                        <td>
                            <div class="btn-group flex-shrink-0" role="group" aria-label="County actions">
                                <button type="button" class="edit btn btn-sm btn-elegant waves-effect px-3">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="delete btn btn-sm btn-danger waves-effect px-3">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td>{{ name }}</td>
                    </tr>
                </script>
                <script id="cg-item" type="x-tmpl-mustache">
                    <div class="grid-item col-12 col-sm-6 col-md-4 mb-4">
                        <div class="post card" data-id="{{ id }}">
                            <div class="fill-bg" style="background-image: url('{{ primaryImageUrl }}');"></div>
                            <div class="actions btn-group p-2" role="group" aria-label="Classified ad actions">
                                <button type="button" class="edit btn btn-sm btn-elegant waves-effect px-3 flex-grow-0">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Edit
                                </button>
                                <button type="button" class="delete btn btn-sm btn-danger waves-effect px-3 flex-grow-0">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </div>
                            <div class="primary-image">
                                <img class="card-img z-depth-1" src="{{ primaryImageUrl }}">
                            </div>
                            <div class="card-body white-text">
                                <p class="font-weight-bold z-depth-1 one-line">{{ title }}</p>
                                <p class="font-weight-light small z-depth-1 one-line">HRK <span class="font-weight-bold">{{ price }}</span></p>
                            </div>
                        </div>
                    </div>
                </script>
                {% endverbatim %}
            </div>

            <!-- update user success toast -->
            <div class="toast fade hide" id="toast-update-user-success" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                <div class="toast-header">
                    <strong class="mr-auto">Success!</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    User details have successfully been changed.
                </div>
            </div>

            <!-- filter modal -->
            <div class="modal fade right" id="modal-filter" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
                <div class="modal-dialog modal-full-height modal-right" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Filter results</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="loading row align-items-center">
                                <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                                Loading...
                            </div>

                            <form>
                                <label for="mf-category" class="grey-text font-weight-light">Category</label>
                                <select id="mf-category" class="custom-select"></select>

                                <label for="mf-county" class="grey-text font-weight-light pt-4">County</label>
                                <select id="mf-county" class="custom-select"></select>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" aria-label="Filter dialog actions">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <button id="mf-apply" type="button" class="btn btn-elegant">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- login/register modal -->
            <div class="modal fade" id="modal-login-register" tabindex="-1" role="dialog" aria-labelledby="">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header px-2 py-0 border-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <h4 class="font-weight-bold text-center p-3">
                                Want to post classified ads? Log in or register now!
                            </h4>
                            <ul class="nav nav-tabs" id="mlr-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-dark active" id="mlr-tab-login" data-toggle="tab" href="#mlr-login" role="tab" aria-controls="mlr-login" aria-selected="true">Log in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="mlr-tab-register" data-toggle="tab" href="#mlr-register" role="tab" aria-controls="mlr-register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="mlr-tabs-content">
                                <div class="tab-pane fade show active" id="mlr-login" role="tabpanel" aria-labelledby="mlr-tab-login">
                                    <form novalidate>
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            Invalid username or password.
                                            <button type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="form-group">
                                            <label for="mlr-login-username" class="grey-text font-weight-light">Username</label>
                                            <input type="text" id="mlr-login-username" name="username" class="form-control" required maxlength="255">
                                            <div class="invalid-feedback">
                                                This field is required.
                                            </div>
                                        </div>

                                        <div class="form-group pt-2">
                                            <label for="mlr-login-password" class="grey-text font-weight-light">Password</label>
                                            <input type="password" id="mlr-login-password" name="password" class="form-control" required maxlength="255">
                                            <div class="invalid-feedback">
                                                This field is required.
                                            </div>
                                        </div>

                                        <div class="form-group text-right pt-3 m-0">
                                            <div class="btn-group" role="group" aria-label="Log in actions">
                                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                                <button id="mlr-login-submit" type="submit" class="btn btn-elegant">
                                                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                                    Log in
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="mlr-register" role="tabpanel" aria-labelledby="mlr-tab-register">
                                    <div class="loading row align-items-center">
                                        <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                                        Loading...
                                    </div>

                                    <form novalidate>
                                        <div class="form-group">
                                            <label for="mlr-register-username" class="grey-text font-weight-light">Username</label>
                                            <input type="text" id="mlr-register-username" name="username" class="form-control" required maxlength="255">
                                            <div class="invalid-feedback">
                                                This field is required.
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="mlr-register-email" class="grey-text font-weight-light">E-mail</label>
                                            <input type="email" id="mlr-register-email" name="email" class="form-control" required maxlength="255">
                                            <div class="invalid-feedback">
                                                This field is required.
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="mlr-register-password" class="grey-text font-weight-light">Password</label>
                                            <div class="input-group">
                                                <input type="password" id="mlr-register-password" name="password" class="form-control" required maxlength="255">
                                                <div class="input-group-append">
                                                    <button class="toggle btn btn-default" type="button">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback">
                                                This field is required.
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="mlr-register-county" class="grey-text font-weight-light">County</label>
                                            <select id="mlr-register-county" class="custom-select" required></select>
                                            <div class="invalid-feedback">
                                                This field is required.
                                            </div>
                                        </div>

                                        <div class="form-group text-right pt-3 m-0">
                                            <div class="btn-group" role="group" aria-label="Register actions">
                                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                                <button id="mlr-register-submit" type="submit" class="btn btn-elegant">
                                                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                                    Register
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- create new classified modal -->
            <div class="modal fade" id="modal-create-classified" tabindex="-1" role="dialog" aria-labelledby="createClassifiedModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Create a new ad</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="loading row align-items-center">
                                <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                                Loading...
                            </div>

                            <form novalidate>
                                <div class="form-group">
                                    <label for="mcc-title" class="grey-text font-weight-light">Title</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <input type="text" id="mcc-title" class="form-control" required maxlength="70">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mcc-price" class="grey-text font-weight-light">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">HRK</span>
                                        </div>
                                        <input type="number" id="mcc-price" class="form-control" required min="0" max="2000000000">
                                        <div class="invalid-feedback">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mcc-description" class="grey-text font-weight-light">Description</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <textarea class="form-control" id="mcc-description" rows="8" required maxlength="5000"></textarea>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mcc-category" class="grey-text font-weight-light">Category</label>
                                    <select id="mcc-category" class="custom-select" required></select>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mcc-images" class="grey-text font-weight-light">Images</label>
                                    <div class="dropzone dropzone-previews form-control" id="mcc-images"></div>
                                    <div class="invalid-feedback"></div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Create classified ad dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="mcc-create" type="submit" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Create
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- view classified modal -->
            <div class="modal fade" id="modal-view-classified" tabindex="-1" role="dialog" aria-labelledby="viewClassifiedModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header px-2 py-0 border-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div id="mvc-images-carousel" class="carousel slide carousel-fade" data-interval="false">
                                <ol class="carousel-indicators z-depth-1 elegant-color ml-auto mr-auto rounded-pill"></ol>
                                <div class="carousel-inner" role="listbox"></div>
                                <a class="carousel-control-prev" href="#mvc-images-carousel" role="button" data-slide="prev">
                                    <div class="elegant-color z-depth-1 rounded-circle p-1 mt-auto mb-auto ml-2">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </div>
                                </a>
                                <a class="carousel-control-next" href="#mvc-images-carousel" role="button" data-slide="next">
                                    <div class="elegant-color z-depth-1 rounded-circle p-1 mt-auto mb-auto mr-2">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-3">
                                <p class="font-weight-bold mb-0">
                                    <span class="title text-break pr-1"></span>
                                    <span class="small grey-text">#<span class="id"></span></span>
                                </p>
                                <p class="font-weight-light pt-1">HRK <span class="price"></span></p>

                                <p class="small grey-text mb-1">Description</p>
                                <p class="description small"></p>

                                <p class="small grey-text mb-1">Category</p>
                                <p class="category small mb-0"></p>
                            </div>
                            <div class="seller p-3 white-text elegant-color">
                                <p class="font-weight-normal mb-2">
                                    @<span class="username"></span>
                                </p>
                                <p class="mb-3">
                                    <button type="button" class="btn btn-sm btn-light waves-effect px-2 py-1 m-0">Other ads by seller</button>
                                </p>

                                <p class="small grey-text mb-1">Contact details</p>
                                <p class="small mb-1">
                                    <i class="fa grey-text fa-map-marker fa-fw pr-1"></i>
                                    <span class="county"></span>
                                </p>
                                <p class="small mb-1">
                                    <i class="fa grey-text fa-envelope-o fa-fw pr-1"></i>
                                    <span class="email"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- edit classified modal -->
            <div class="modal fade" id="modal-edit-classified" tabindex="-1" role="dialog" aria-labelledby="editClassifiedModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Edit classified ad</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="loading row align-items-center">
                                <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                                Loading...
                            </div>

                            <form novalidate>
                                <div class="form-group">
                                    <label for="mec-title" class="grey-text font-weight-light">Title</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <input type="text" id="mec-title" class="form-control" required maxlength="70">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mec-price" class="grey-text font-weight-light">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">HRK</span>
                                        </div>
                                        <input type="number" id="mec-price" class="form-control" required min="0" max="2000000000">
                                        <div class="invalid-feedback">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mec-description" class="grey-text font-weight-light">Description</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <textarea class="form-control" id="mec-description" rows="8" required maxlength="5000"></textarea>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mec-category" class="grey-text font-weight-light">Category</label>
                                    <select id="mec-category" class="custom-select" required></select>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group pt-4">
                                    <label for="mec-images" class="grey-text font-weight-light">Images</label>
                                    <div class="dropzone dropzone-previews form-control" id="mec-images"></div>
                                    <div class="invalid-feedback"></div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Edit classified ad dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="mec-save" type="submit" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delete classified modal -->
            <div class="modal fade" id="modal-delete-classified" tabindex="-1" role="dialog" aria-labelledby="deleteClassifiedModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Delete classified ad</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to delete <span class="title text-break font-weight-bold"></span> (#<span class="id"></span>)?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" aria-label="Delete classified ad dialog actions">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <button id="mdc-delete" type="button" class="btn btn-danger">
                                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- edit user modal admin -->
            <div class="modal fade" id="modal-edit-user-admin" tabindex="-1" role="dialog" aria-labelledby="editUserModalAdmin" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Edit user</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="loading row align-items-center">
                                <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                                Loading...
                            </div>

                            <form novalidate>
                                <h5>User capabilities</h5>
                                <div class="form-group">
                                    <label for="meua-role" class="grey-text font-weight-light">Role</label>
                                    <select id="meua-role" class="custom-select" required></select>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <h5 class="pt-4">User details</h5>
                                <div class="form-group">
                                    <label for="meua-username" class="grey-text font-weight-light">Username</label>
                                    <input type="text" id="meua-username" class="form-control" required maxlength="255">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label for="meua-email" class="grey-text font-weight-light">E-mail</label>
                                    <input type="email" id="meua-email" class="form-control" required maxlength="255">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label for="meua-password" class="grey-text font-weight-light">New password</label>
                                    <div class="input-group">
                                        <input type="password" id="meua-password" class="form-control" maxlength="255">
                                        <div class="input-group-append">
                                            <button class="toggle btn btn-default" type="button">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label for="meua-county" class="grey-text font-weight-light">County</label>
                                    <select id="meua-county" class="custom-select" required></select>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Edit user dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="meua-save" type="submit" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delete user modal -->
            <div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Delete user</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to delete user <span class="font-weight-bold username"></span>? All classified ads created by the user will be deleted!
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" aria-label="Delete user dialog actions">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <button id="mdu-delete" type="button" class="btn btn-danger">
                                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- create new category modal -->
            <div class="modal fade" id="modal-create-category" tabindex="-1" role="dialog" aria-labelledby="createCategoryModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Create a new category</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form novalidate>
                                <div class="form-group">
                                    <label for="mcca-title" class="grey-text font-weight-light">Title</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <input type="text" id="mcca-title" class="form-control" required maxlength="50">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Create county dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="mcca-create" type="submit" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Create
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- edit category modal -->
            <div class="modal fade" id="modal-edit-category" tabindex="-1" role="dialog" aria-labelledby="editCategoryModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Edit category</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form novalidate>
                                <div class="form-group">
                                    <label for="meca-title" class="grey-text font-weight-light">Title</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <input type="text" id="meca-title" class="form-control" required maxlength="50">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Edit category dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="meca-save" type="button" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delete category modal -->
            <div class="modal fade" id="modal-delete-category" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Delete category</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to delete category <span class="title font-weight-bold"></span> (#<span class="id"></span>)?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" aria-label="Delete category dialog actions">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <button id="mdca-delete" type="button" class="btn btn-danger">
                                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- create new county modal -->
            <div class="modal fade" id="modal-create-county" tabindex="-1" role="dialog" aria-labelledby="createCountyModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Create a new county</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form novalidate>
                                <div class="form-group">
                                    <label for="mcco-name" class="grey-text font-weight-light">Name</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <input type="text" id="mcco-name" class="form-control" required maxlength="50">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Create county dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="mcco-create" type="button" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Create
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- edit county modal -->
            <div class="modal fade" id="modal-edit-county" tabindex="-1" role="dialog" aria-labelledby="editCountyModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Edit county</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form novalidate>
                                <div class="form-group">
                                    <label for="meco-name" class="grey-text font-weight-light">Name</label>
                                    <span class="character-count small grey-text pull-right pt-1"></span>
                                    <input type="text" id="meco-name" class="form-control" required maxlength="50">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>
                                </div>

                                <div class="form-group text-right pt-3 m-0">
                                    <div class="btn-group" role="group" aria-label="Edit county dialog actions">
                                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                        <button id="meco-save" type="button" class="btn btn-elegant">
                                            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delete county modal -->
            <div class="modal fade" id="modal-delete-county" tabindex="-1" role="dialog" aria-labelledby="deleteCountyModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 one-line">Delete county</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to delete county <span class="name font-weight-bold"></span> (#<span class="id"></span>)?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" aria-label="Delete county dialog actions">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <button id="mdco-delete" type="button" class="btn btn-danger">
                                    <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true"></span>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- home fragment -->
            <div id="home-fragment">
                <!-- loading message -->
                <div class="loading elegant-color white-text z-depth-1 row p-3 mx-0 mt-4 align-items-center">
                    <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                    Loading, please wait...
                </div>

                <!-- filter actions -->
                <div class="query row flex-nowrap align-items-center px-3 mt-4">
                    <div class="details d-flex flex-nowrap align-items-center flex-grow-1 overflow-hidden pr-2">
                        <!-- show if actual text entered -->
                        <div class="has-text-query">
                            <span class="one-line">Results for "<span class="text font-weight-bold">cook</span>"</span>
                            <button type="button" class="clear btn btn-lg grey-text rounded-circle waves-effect z-depth-0 flex-shrink-0 ml-1 px-2 py-1"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                        </div>

                        <!-- else show this -->
                        <span class="no-text-query one-line">Latest</span>
                    </div>
                    <div class="filter btn-group flex-shrink-0" role="group" aria-label="Filter results">
                        <button type="button" class="edit btn btn-sm btn-elegant waves-effect px-3">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </button>
                        <!-- show only if results filtered -->
                        <button type="button" class="clear btn btn-sm waves-effect px-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- no results message -->
                <div class="no-results p-3 mx-0 mt-5">
                    <i class="fa fa-search fa-3x z-depth-1 mb-2" aria-hidden="true"></i>
                    <h3 class="font-weight-bold mb-3">No results.</h3>
                    <p class="m-0">Nothing here yet. Try a different query or come back later.</p>
                    <p>Help expanding by adding your own items for sale!</p>
                </div>

                <!-- grid -->
                <div class="grid mt-4">
                    <div class="grid-sizer col-12 col-sm-6 col-md-4"></div>
                </div>

                <!-- create new classified FAB -->
                <div class="row fixed-bottom m-0 p-0">
                    <button id="fab-create-classified" type="button" class="btn btn-elegant rounded-circle ml-auto p-0">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <!-- admin fragment -->
            <div id="admin-fragment" class="mt-4">
                <ul class="nav nav-tabs" id="af-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" id="af-tab-users" data-toggle="tab" href="#af-users" role="tab" aria-controls="af-users" aria-selected="true">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="af-tab-categories" data-toggle="tab" href="#af-categories" role="tab" aria-controls="af-categories" aria-selected="false">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="af-tab-counties" data-toggle="tab" href="#af-counties" role="tab" aria-controls="af-counties" aria-selected="false">Counties</a>
                    </li>
                </ul>
                <div class="tab-content" id="af-tabs-content">
                    <div class="tab-pane fade show active p-3" id="af-users" role="tabpanel" aria-labelledby="af-tab-users">
                        <h1>Users</h1>

                        <div class="loading row m-0 pt-3 align-items-center">
                            <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                            Loading...
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table class="table btn-table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="min"></th>
                                        <th scope="col" class="min">Username</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="af-categories" role="tabpanel" aria-labelledby="af-tab-categories">
                        <h1 class="d-flex align-items-center">
                            <span class="pr-3">Categories</span>
                            <button type="button" class="add btn btn-sm btn-elegant waves-effect px-3">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h1>

                        <div class="loading row m-0 pt-3 align-items-center">
                            <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                            Loading...
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table class="table btn-table">
                                <thead>
                                <tr>
                                    <th scope="col" class="min"></th>
                                    <th scope="col">Title</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="af-counties" role="tabpanel" aria-labelledby="af-tab-counties">
                        <h1 class="d-flex align-items-center">
                            <span class="pr-3">Counties</span>
                            <button type="button" class="add btn btn-sm btn-elegant waves-effect px-3">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </h1>

                        <div class="loading row m-0 pt-3 align-items-center">
                            <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                            Loading...
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table class="table btn-table">
                                <thead>
                                <tr>
                                    <th scope="col" class="min"></th>
                                    <th scope="col">Name</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- profile fragment -->
            <div id="profile-fragment">
                <div class="user row flex-column align-items-center px-3 pb-4 mt-4 border-bottom">
                    <h4 class="pr-2 one-line w-100 text-center">Ads by <span class="username font-weight-bold"></span></h4>
                    <button class="clear btn btn-sm waves-effect">Show ads from all sellers</button>
                </div>

                <!-- loading message -->
                <div class="loading elegant-color white-text z-depth-1 row p-3 mx-0 mt-4 align-items-center">
                    <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                    Loading, please wait...
                </div>

                <!-- filter actions -->
                <div class="query row flex-nowrap align-items-center px-3 mt-4">
                    <div class="details d-flex flex-nowrap align-items-center flex-grow-1 overflow-hidden pr-2">
                        <!-- show if actual text entered -->
                        <div class="has-text-query">
                            <span class="one-line">Results for "<span class="text font-weight-bold">cook</span>"</span>
                            <button type="button" class="clear btn btn-lg grey-text rounded-circle waves-effect z-depth-0 flex-shrink-0 ml-1 px-2 py-1"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                        </div>

                        <!-- else show this -->
                        <span class="no-text-query one-line">Latest</span>
                    </div>
                    <div class="filter btn-group flex-shrink-0" role="group" aria-label="Filter results">
                        <button type="button" class="edit btn btn-sm btn-elegant waves-effect px-3">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </button>
                        <!-- show only if results filtered -->
                        <button type="button" class="clear btn btn-sm waves-effect px-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- no results message -->
                <div class="no-results p-3 mx-0 mt-5">
                    <i class="fa fa-search fa-3x z-depth-1 mb-2" aria-hidden="true"></i>
                    <h3 class="font-weight-bold mb-3">No results.</h3>
                    <p class="m-0">Nothing here yet. Try a different query or come back later.</p>
                    <p>Help expanding by adding your own items for sale!</p>
                </div>

                <!-- grid -->
                <div class="grid mt-4">
                    <div class="grid-sizer col-12 col-sm-6 col-md-4"></div>
                </div>
            </div>

            <!-- account settings fragment -->
            <div id="account-settings-fragment" class="my-4 px-3">
                <div class="row flex-nowrap align-items-center mx-0 mt-5">
                    <h1 class="pr-3 one-line">Account settings</h1>
                    <h1 class="mobile pr-3">Account settings</h1>
                    <button type="button" class="save btn btn-elegant waves-effect ml-auto px-4 flex-shrink-0">
                        <span class="spinner-border spinner-border-sm mr-1 hidden" role="status" aria-hidden="true"></span>
                        Save
                    </button>
                </div>

                <div class="loading row m-0 pt-3 align-items-center">
                    <span class="spinner-border mr-3" role="status" aria-hidden="true"></span>
                    Loading...
                </div>

                <form class="pt-4 col-12 col-md-6 col-lg-4 px-0 mb-5" novalidate>
                    <div class="form-group">
                        <label for="asf-username" class="font-weight-light">Username</label>
                        <input type="text" id="asf-username" class="form-control" required maxlength="255">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group pt-4">
                        <label for="asf-email" class="font-weight-light">E-mail</label>
                        <input type="email" id="asf-email" class="form-control" required maxlength="255">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group pt-4">
                        <label for="asf-password" class="font-weight-light">New password</label>
                        <div class="input-group">
                            <input type="password" id="asf-password" class="form-control" maxlength="255">
                            <div class="input-group-append">
                                <button class="toggle btn btn-default" type="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group pt-4">
                        <label for="asf-county" class="font-weight-light">County</label>
                        <select id="asf-county" class="custom-select" required></select>
                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>

                    <div class="mobile form-group pt-4">
                        <button type="submit" class="save-mobile btn btn-elegant waves-effect ml-auto px-4 w-100">
                            <span class="spinner-border spinner-border-sm mr-1 hidden" role="status" aria-hidden="true"></span>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- scripts go here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/js/mdb.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>
